<section class="d-flex justify-content-center align-items-center flex-column vh-100">
  <h2>Product List</h2>
  <div>
    <div class="d-flex justify-content-end mb-2">
      <button type="button" class="btn btn-outline-success" [routerLink]="['/product/add-product/']">Add
        Product</button>
    </div>
    <table>
      <tr>
        <th>Sl</th>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let product of paginatedProductList; index as i">
        <td>{{ i + 1 }}</td>
        <td>
          <a [routerLink]="['/product/', product.id]">{{ product.name }}</a>
        </td>
        <td>{{ product.price | currency }}</td>
        <td><button type="button" class="btn btn-outline-danger" (click)="openModal(product.id)">Delete</button></td>
      </tr>
    </table>

    <div *ngIf="this.productList.length > 5" class="d-flex justify-content-between mt-3">
      <button type="button" class="btn btn-outline-primary" (click)="previousPage()"
        [disabled]="currentPage === 1">Previous</button>
      <span class="mx-3">Page {{ currentPage }} of {{ totalPages }}</span>
      <button type="button" class="btn btn-outline-primary" (click)="nextPage()"
        [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</section>

<app-product-delete *ngIf="isDeleteDialog" [productId]="productId" (deleteProd)="deleteProduct()"
  (closeModal)="closeModal()"></app-product-delete>
